@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1,
h2 {
    color: black;
}
/* Header */
header {
    background-color: lightblue;
    top: 0;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#logo {
    margin-right: auto;
    font-size: 25px;
}

#logo img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 10px;
}

nav {
    display: flex;
    font-family: 'Libre Baskerville', serif;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: 100;
    justify-content: center;
    margin-left: auto;
    padding: 2rem 0;
}

ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
	display: inline-flex;
}

ul li {
	padding: 5px 9px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #ffff;
}

/* Home */

.home {
    position: relative;
    height: 350px;
    background: linear-gradient(white, lightcyan);
}

.intro {
    text-decoration: underline;
    font-size: 35px;
    color: black;
    text-align: center;
}

.intro h2 {
    padding-top: 3.5rem;
}

/* About */

.about {
    text-align: center;
    justify-content: center;
}

.about h2 {
    font-size: 3.5em;
    text-decoration: solid;
}

.about p {
    font-size: 1.75em;
}

h2 p {
    font-family: 'DM Serif Display', serif;
}