@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1,
h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}
/* Header */
header {
    position: fixed;
    background-color: lightblue;
    top: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 7;
    opacity: 1;
}

#logo {
    margin-right: auto;
    font-size: 25px;
}

nav {
    display: flex;
    font-family: 'Libre Baskerville', serif;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: 100;
    justify-content: center;
    margin-left: auto;
}

nav ul{
	list-style-type: none;
    margin: 0;
}

li {
	display: inline-block;
}

ul li {
	padding: 5px 10px;
}

/* Home */

.home {
    align-items: center;
    display: flex;
}  

.intro {
    margin: 0 auto;
    padding: 0 auto;
}

.intro h2 {
    text-decoration: underline;
    font-size: 30px;
    color: black;
}